@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* navbar component */

.nav {
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: #333;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.nav h1 {
  font-size: 24px;
  font-weight: 600;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ------------------------------ */

.main {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  padding: 10px;
  background-color: #f5f5f5;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

form {
  width: 100%;
  height: 100%;
}

.input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
}

.task-item {
  max-width: 900px;
  margin: 10px 0;
  height: 40px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.task-item p {
  width: 90%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-item button {
  height: 100%;
  border: none;
  outline: none;
  background-color: #0096ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #333;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.save-btn {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #0096ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  padding: 0 10px;
}

/* -------------------------------- */

/* task-todo list component */

.todos-container {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-nav{
  width: 65%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.btn-set{
  position: relative;
  top: -5px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  background-color: #0095ffb7;
  border-radius: 25px;
}

.btn-set button{
  height: 100%;
  border: none;
  background: transparent;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-set button:hover{
  overflow: hidden;
  border-radius: 20px;
  background: greenyellow;
}


.todo-card {
  background-color: 	#B2BEB5;
  padding: 15px;
  width: 70%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

}

.btn-cr{
  background-color: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
}

.comp-btn{
  height: 100%;
  padding: 0px 15px;
  font-size: large;
  outline: none;
  border: 1px solid gray;
  border-radius: 25px;
  cursor: pointer;
  background-color: #0096ff;
  color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.remove-btn{
  height: 100%;
  padding: 0px 15px;
  font-size: large;
  outline: none;
  border: 1px solid gray;
  border-radius: 25px;
  cursor: pointer;
  background-color: #0096ff;
  color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}